.product-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0; /* Adjusted margin for consistency with cart items */
  text-align: center;
}


.product-item img {
  max-width: 200px; /* Ensures the image does not exceed the container width */
  height: auto; /* Maintains aspect ratio */


}

.product-item h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.product-item p {
  font-size: 1em;
  color: #333;
}

.product-item button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.product-item button:hover {
  background-color: #0056b3;
}
